<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset= "UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blogs}">Back to list</a>
<h1>UPDATE FORM</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blogs/update}" th:object="${blogDto}" method="post">
    <input name="id" type="hidden" th:field="*{id}">
    <p>Name</p>
    <input type="text" th:field="*{name}">
    <p>Author</p>
    <input type="text" th:field="*{author}">
    <p>Access</p>
    <input type="text" th:field="*{access}">
    <input type="submit" th:value="Update">
</form>
</body>
</html>